.form-outer {
    justify-content: center;
    padding: 5em;
}
.form-inner {
    display: flex;
    width: 100%;
    margin-left: 0em;
    width: 80%;
}

.myform {
    background-color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.myform h1 {
    font-size: 1.5em;
    color: #e19a00;
}

.myform input, .myform select {
    border-radius: 1em;
}



.myform button {
    background-color: #ffcb5d;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    color: #363636;
    cursor: pointer;
    height: 2.5em;
    padding: calc(.5em - 1px) 1em;
}

.myform button:active, .myform button:focus, .myform button:hover {
    background-color: #ffcb5d90;
    color:#363636;
    border: 1px solid #b5b5b5;
    transform: scale(1.02);

}

.form-image {
    background-image: url('https://images.unsplash.com/photo-1637005218692-a7e234ffcbf4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc4fHxjYXIlMjBsb3R8ZW58MHwxfDB8fHww&auto=format&fit=crop&w=800&q=60');
    background-position: center;
    width: 50%;
    border-top-left-radius: .5em;
    position:relative;
}

.technician-form-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY4MX3qf4EaaopdgsWUK3eDm9UzMqWqAe14A&usqp=CAU');
    background-position: center;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: .5em;
    position:relative;
    padding-right: 0%;
    margin-right: 0%;
}

.form-image:after {
    content: "";
    position:absolute;
    margin: 27em -5em 0em -1em;
    width:6em;
    height:13em;
    transform:rotate(135deg);
    background-color:white;
}

.form-image p {
    visibility: hidden;
}
