.navbar {
    margin: 0em 1em;

}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    gap: .5em;
}

.drops {
    align-content: center;
}

#dropdown-basic {
    margin-top: 35px;
}
